<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lanser.clawnews</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/lanser/Code/Claw_news/venv/bin/python</string>
        <string>/Users/lanser/Code/Claw_news/main.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/lanser/Code/Claw_news/data/cron.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/lanser/Code/Claw_news/data/cron_error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/lanser/Code/Claw_news</string>
</dict>
</plist>
